/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #FFFEF8;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	margin-top: 100px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.div-filtre {
	min-width: 550px;
	width: 50%;
	display: flex;
	justify-content: space-around;
	margin: 30px auto;
}
.div-filtre > * {
	padding: 10px 20px;
	border: 1px solid #1D6154;
	border-radius: 25px;
	font-family: 'Syne';
	color: #1D6154;
	cursor: pointer;
	background-color: white;
	transition: all 0.3s ease;
}
.div-filtre > *:hover {
	background-color: #1D6154;
	color: white;
}

/* Style pour le filtre actif */
.div-filtre > *.active {
	background-color: #1D6154;
	color: white;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#Connection {
	width: 50%;
margin: auto;
}
#Connection > * {
	text-align: center;

}
#Connection h2{
	margin-bottom: 20px;
}
#Connection form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#Connection input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#Connection label {
	margin: 2em 0 1em 0;
}
#Connection textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
.edition {
	background-color: black;
	color: white;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0%;
}

/* Modale */

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 1000;  
}
.modal-wrapper {
	position: relative; 
	background-color: white;
	max-width: calc(100vw - 40px);  
	max-height: calc(100vh - 40px); 
	width: 500px;
	height: 400px;
	padding: 20px;
	border-radius: 8px;
}
.close-modal {
    position: absolute;
    top: 15px;
    right: 15px; 

    background: none;
    border: none;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}
/* Galerie de la modale */
.modal-wrapper {
    position: relative;
    background-color: white;
    max-width: calc(100vw - 40px);
    max-height: calc(100vh - 40px);
    width: 630px;  
    height: auto;  
    padding: 20px;
    border-radius: 8px;
}

.modal-wrapper h3 {
    font-family: 'Work Sans';
    font-size: 26px;
    font-weight: 400;
    color: black;
    text-align: center;
    margin: 40px 0 45px;
}

.modal-gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
    margin: 0 105px 47px;
}

.modal-item {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
}

.modal-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.delete-btn {
    position: absolute;
    top: 6px;
    right: 6px;
    background: black;
    color: white;
    border: none;
    width: 17px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 9px;
    border-radius: 2px;
}

.delete-btn:hover {
    background: #333;
}

.modal-wrapper hr {
    border: none;
    border-top: 1px solid #B3B3B3;
    margin: 0 125px 38px;
}

.btn-add-photo {
    background: #1D6154;
    color: white;
    border: none;
    padding: 10px 33px;
    border-radius: 50px;
    cursor: pointer;
    font-family: 'Syne';
    font-weight: 700;
    font-size: 14px;
    display: block;
    margin: 0 auto;
}


/* Modale Ajout Photo */
.modal-add-wrapper {
    width: 630px;
    height: auto;
    padding: 30px;
}

.back-modal {
    position: absolute;
    top: 26px;
    left: 30px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.upload-zone {
    background: #E8F1F6;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 20px;
    height: 169px;
    position: relative;
	overflow: hidden;
}

.upload-icon {
    font-size: 58px;
    color: #B9C5CC;
    margin-bottom: 10px;
}

.btn-upload {
    background: #CBD6DC;
    color: #306685;
    border: none;
    padding: 10px 33px;
    border-radius: 50px;
    cursor: pointer;
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 7px;
}

.upload-info {
    font-size: 10px;
    color: #444;
}

#preview-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
	z-index: 10;
}

.preview-hidden {
    display: none !important;
}

.preview-visible {
    display: block !important;
}

.upload-zone.has-image .upload-icon,
.upload-zone.has-image .btn-upload,
.upload-zone.has-image .upload-info {
    display: none !important;
}

#add-work-form label {
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 14px;
    color: #3D3D3D;
    margin-bottom: 10px;
    display: block;
}

#add-work-form input[type="text"],
#add-work-form select {
    width: 100%;
    height: 51px;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    font-family: 'Work Sans';
    font-size: 14px;
    padding: 0 15px;
    margin-bottom: 20px;
}

#add-work-form hr {
    border: none;
    border-top: 1px solid #B3B3B3;
    margin: 27px 0 32px;
}

.btn-validate {
    background: #A7A7A7;
    color: white;
    border: none;
    padding: 10px 49px;
    border-radius: 60px;
    cursor: not-allowed;
    font-family: 'Syne';
    font-weight: 400;
    font-size: 14px;
    margin: 0 auto;
    display: block;
    width: 237px;
}

.btn-validate:not(:disabled) {
    background: #1D6154;
    cursor: pointer;
}

.btn-validate:not(:disabled):hover {
    background: #155f4a;
}